{% extends "layout.html" %}

{% block body %}

<div align="center">
  <h1>{{ status }}</h1>
  <h1>Financial Data</h1>
<form id="input_form" method="post" action="{{ url_for('submit_financial_data') }}">
  <div class="form-group">
	<label for="state">State</label>
		<select class="form-control" id="state" name="state">
      {% for state in states %}
        <option value="{{state}}">{{state}}</option>
      {% endfor %}
		</select>
  </div>
  <div class="form-group">
      <label for="agi">Adjusted Gross Income (nearest dollar)</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="agi" name="agi" placeholder="Amount">
        <div class="input-group-addon">.00</div>
      </div>
    </div>
    <div class="form-group">
    <label for="ti">Total Income (nearest dollar)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="ti" name="ti" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h1>Procedure Data</h1>
<form id="input_form" method="post" action="{{ url_for('submit_procedure_data') }}">
  <div class="form-group">
  <label for="state">State</label>
    <select class="form-control" id="state" name="state">
      {% for state in states %}
        <option value="{{state}}">{{state}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
	<label for="drg">DRG</label>
		<select class="form-control" id="drg" name="drg">
      {% for drg, name in drgs.iteritems() %}
        <option value="{{drg}}">{{name}}</option>
      {% endfor %}
		</select>
  </div>
  <div class="form-group">
  <label for="total_payments">Total Payments (nearest dollar)</label>
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <input type="text" class="form-control" id="total_payments" name="total_payments" placeholder="Amount">
    <div class="input-group-addon">.00</div>
  </div>
</div>
<div class="form-group">
<label for="covered_charges">Covered Charges (nearest dollar)</label>
<div class="input-group">
  <div class="input-group-addon">$</div>
  <input type="text" class="form-control" id="covered_charges" name="covered_charges" placeholder="Amount">
  <div class="input-group-addon">.00</div>
</div>
</div>
<div class="form-group">
<label for="medicare_payments">Medicare Payments (nearest dollar)</label>
<div class="input-group">
  <div class="input-group-addon">$</div>
  <input type="text" class="form-control" id="medicare_payments" name="medicare_payments" placeholder="Amount">
  <div class="input-group-addon">.00</div>
</div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
{% endblock %}
